

.holokitab-images {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

body {
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Poppins', sans-serif; */
}


.header_image {
    background-image: url('.././../../assests/images/home/header.png') ;
    height: 100%;
    background-size: cover;
    width: 100%;
}


@media (max-width: 980px) {
    .scan_qr_code {
        position: relative !important;
        left: 0px !important;
    }

    .qr_title {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .header_image {
    background-image: url(.././../../assests/images/home/header-min.png);
    height: 76%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain
    }


    .cards {
        position: relative;
        bottom: 130px;
    }


}


.news_description {
    float: left;
    margin-right: 20px;
    text-align: justify;
}

.news_image {
    height: 200px;
}

.news_date {
    float: right;
    margin-top: 10px;
    color: #1d2f6f9c
}


.photo_gallery_bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.photo_gallery_top {
    border-top-left-radius: 10px;
    margin-left: 20px;
    border-top-right-radius: 10px;
 }
.photo_gallery_bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }


.reviews_container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.news_title {
    float: left;
}


.scan_qr_code {
    position: relative;
    right: 300px;
    float: left;
}




.barcode_scan_area {
        width: 100% !important;
}

.barcode_scan_title {
    text-align: center !important;
}


.download_app_title {
    /* margin-left: 100px; */
    border-bottom-left-radius: 1;
    font-family: monospace;
    FONT-WEIGHT: 200;
    margin-bottom: 20px;
    color: #000;
}

.scan_code {
    font-size: 20px;
    text-align: center;
    /* margin-left: 200px; */
    /* margin-right: 100px; */
    font-family: monospace;
    margin-bottom: 20px;
}

.news_heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reviews_container {
     margin-top: 20px;
     margin-bottom: 20px;
 }

